In [1]:
import pandas as pd 
import numpy as np 

df = pd.read_excel('official3.xlsx')
del df['Unnamed: 0']
df.head()

,phone,company,location,link,name,state,city,first name,last name
0,(256) 309-7556,Access Commercial & Business Brokers,"Decatur,Alabama",https://www.bizbuysell.com/business-broker/sam...,Sam Mozeb,Alabama,Decatur,Sam,Mozeb
1,(205) 294-9148,Alabama Business Brokers,"Clanton,Alabama",https://www.bizbuysell.com/business-broker/bra...,Brad Owen,Alabama,Clanton,Brad,Owen
2,(251) 233-9942,TNT Business Brokers,"Orange Beach,Alabama",https://www.bizbuysell.com/business-broker/wyn...,Wyndee Townley,Alabama,Orange Beach,Wyndee,Townley
3,(251) 278-8171,Sunbelt Business Brokers and Business Brokers ...,"Daphne,Alabama",https://www.bizbuysell.com/business-broker/dav...,David Chew,Alabama,Daphne,David,Chew
4,(208) 870-1717,Business Resource,"Mountain Brook,Alabama",https://www.bizbuysell.com/business-broker/wil...,Wilson Archer,Alabama,Mountain Brook,Wilson,Archer

In [2]:
df.shape

(5057, 9)

In [3]:
df = df[['company', 'first name', 'last name', 'name', 'phone', 'location', 'city', 'state', 'link']]
df.head()

,company,first name,last name,name,phone,location,city,state,link
0,Access Commercial & Business Brokers,Sam,Mozeb,Sam Mozeb,(256) 309-7556,"Decatur,Alabama",Decatur,Alabama,https://www.bizbuysell.com/business-broker/sam...
1,Alabama Business Brokers,Brad,Owen,Brad Owen,(205) 294-9148,"Clanton,Alabama",Clanton,Alabama,https://www.bizbuysell.com/business-broker/bra...
2,TNT Business Brokers,Wyndee,Townley,Wyndee Townley,(251) 233-9942,"Orange Beach,Alabama",Orange Beach,Alabama,https://www.bizbuysell.com/business-broker/wyn...
3,Sunbelt Business Brokers and Business Brokers ...,David,Chew,David Chew,(251) 278-8171,"Daphne,Alabama",Daphne,Alabama,https://www.bizbuysell.com/business-broker/dav...
4,Business Resource,Wilson,Archer,Wilson Archer,(208) 870-1717,"Mountain Brook,Alabama",Mountain Brook,Alabama,https://www.bizbuysell.com/business-broker/wil...

In [4]:
df = df.rename(columns = {'company': 'Company' , 'first name': 'First Name', 'last name': 'Last Name', 'name': 'Full Name', 'phone': 'Corporate Phone', 'location': 'Location', 'city': 'City', 'state': 'State', 'link': 'Profile Link'})
df.head()

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link
0,Access Commercial & Business Brokers,Sam,Mozeb,Sam Mozeb,(256) 309-7556,"Decatur,Alabama",Decatur,Alabama,https://www.bizbuysell.com/business-broker/sam...
1,Alabama Business Brokers,Brad,Owen,Brad Owen,(205) 294-9148,"Clanton,Alabama",Clanton,Alabama,https://www.bizbuysell.com/business-broker/bra...
2,TNT Business Brokers,Wyndee,Townley,Wyndee Townley,(251) 233-9942,"Orange Beach,Alabama",Orange Beach,Alabama,https://www.bizbuysell.com/business-broker/wyn...
3,Sunbelt Business Brokers and Business Brokers ...,David,Chew,David Chew,(251) 278-8171,"Daphne,Alabama",Daphne,Alabama,https://www.bizbuysell.com/business-broker/dav...
4,Business Resource,Wilson,Archer,Wilson Archer,(208) 870-1717,"Mountain Brook,Alabama",Mountain Brook,Alabama,https://www.bizbuysell.com/business-broker/wil...

In [5]:
df.shape

(5057, 9)

In [6]:
df.to_excel('official4.xlsx')